*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
    
}

.box{
    margin: 18px;
    font-weight: 700;
    font-size: 22px;
    background-color: steelblue;
    color: #fff;
    padding: 125px 150px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(500%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-500%);
}

.box.show{
    transform: translateX(0);
}